Repository stage51/factory-monitoring: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_api_gateway, build_auth_server, build_config_server, build_daily_report, build_five_minute_report, build_mail_service, build_mode_report, test_api_gateway, test_auth_server, test_config_server, test_daily_report, test_five_minute_report, test_mail_service, test_mode_report

.gitlab-ci.yml:

stages:
  - build
  - test
  - deploy

variables:
  MAVEN_OPTS: "-Dmaven.repo.local=.m2/repository"
  CACHE_PATH: ".m2/repository"

cache:
  key: maven-cache
  paths:
    - $CACHE_PATH

.build_template: &build_template
  stage: build
  script:
    - chmod +x build.sh
    - ./build.sh
  artifacts:
    paths:
      - target/*.jar
    expire_in: 1 day

.test_template: &test_template
  stage: test
  script:
    - chmod +x test.sh
    - ./test.sh

# ----------------- BUILD JOBS -----------------

build_api_gateway:
  <<: *build_template
  before_script:
    - cd api-gateway
  only:
    changes:
      - api-gateway/**

build_auth_server:
  <<: *build_template
  before_script:
    - cd auth-server
  only:
    changes:
      - auth-server/**

build_config_server:
  <<: *build_template
  before_script:
    - cd config-server
  only:
    changes:
      - config-server/**

build_daily_report:
  <<: *build_template
  before_script:
    - cd daily-report
  only:
    changes:
      - daily-report/**

build_five_minute_report:
  <<: *build_template
  before_script:
    - cd five-minute-report
  only:
    changes:
      - five-minute-report/**

build_mail_service:
  <<: *build_template
  before_script:
    - cd mail-service
  only:
    changes:
      - mail-service/**

build_mode_report:
  <<: *build_template
  before_script:
    - cd mode-report
  only:
    changes:
      - mode-report/**

# ----------------- TEST JOBS -----------------

test_api_gateway:
  <<: *test_template
  before_script:
    - cd api-gateway
  needs:
    - build_api_gateway
  only:
    changes:
      - api-gateway/**

test_auth_server:
  <<: *test_template
  before_script:
    - cd auth-server
  needs:
    - build_auth_server
  only:
    changes:
      - auth-server/**

test_config_server:
  <<: *test_template
  before_script:
    - cd config-server
  needs:
    - build_config_server
  only:
    changes:
      - config-server/**

test_daily_report:
  <<: *test_template
  before_script:
    - cd daily-report
  needs:
    - build_daily_report
  only:
    changes:
      - daily-report/**

test_five_minute_report:
  <<: *test_template
  before_script:
    - cd five-minute-report
  needs:
    - build_five_minute_report
  only:
    changes:
      - five-minute-report/**

test_mail_service:
  <<: *test_template
  before_script:
    - cd mail-service
  needs:
    - build_mail_service
  only:
    changes:
      - mail-service/**

test_mode_report:
  <<: *test_template
  before_script:
    - cd mode-report
  needs:
    - build_mode_report
  only:
    changes:
      - mode-report/**

# ----------------- DEPLOY JOB -----------------

deploy:
  stage: deploy
  script:
    - cp /home/sysadm/factory-monitoring/api-gateway/src/main/resources/application.yml api-gateway/src/main/resources/application.yml
    - cp /home/sysadm/factory-monitoring/api-gateway/src/main/resources/keystore.p12 api-gateway/src/main/resources/keystore.p12
    - docker-compose build
    - docker-compose up -d
  only:
    - main
  needs:
    - test_api_gateway
    - test_auth_server
    - test_config_server
    - test_daily_report
    - test_five_minute_report
    - test_mail_service
    - test_mode_report

edit deploy in gitlab ci/cd
  .gitlab-ci.yml
Due: none

add tags in gitlab ci/cd
  .gitlab-ci.yml
Due: none

ci/cd test for all services
  .idea/workspace.xml
  api-gateway/test.sh
  auth-server/test.sh
  config-server/test.sh
  daily-report/test.sh
  five-minute-report/test.sh
  mail-service/test.sh
  mode-report/test.sh
Due: build_api_gateway, build_auth_server, build_config_server, build_daily_report, build_five_minute_report, build_mail_service, build_mode_report, test_api_gateway, test_auth_server, test_config_server, test_daily_report, test_five_minute_report, test_mail_service, test_mode_report

edit maven command for ci/cd test for all services
  .idea/workspace.xml
  api-gateway/test.sh
  auth-server/test.sh
  config-server/test.sh
  daily-report/test.sh
  five-minute-report/test.sh
  mail-service/test.sh
  mode-report/test.sh
Due: build_api_gateway, build_auth_server, build_config_server, build_daily_report, build_five_minute_report, build_mail_service, build_mode_report, test_api_gateway, test_auth_server, test_config_server, test_daily_report, test_five_minute_report, test_mail_service, test_mode_report

edit gitlab artefacts
  .gitlab-ci.yml
  api-gateway/test.sh
  auth-server/test.sh
  config-server/test.sh
  daily-report/test.sh
  five-minute-report/test.sh
  mail-service/test.sh
  mode-report/test.sh
Due: build_api_gateway, build_auth_server, build_config_server, build_daily_report, build_five_minute_report, build_mail_service, build_mode_report, test_api_gateway, test_auth_server, test_config_server, test_daily_report, test_five_minute_report, test_mail_service, test_mode_report

edit test method for ci/cd
  .idea/workspace.xml
  api-gateway/test.sh
  auth-server/test.sh
  config-server/test.sh
  daily-report/test.sh
  five-minute-report/test.sh
  mail-service/test.sh
  mode-report/test.sh
Due: build_api_gateway, build_auth_server, build_config_server, build_daily_report, build_five_minute_report, build_mail_service, build_mode_report, test_api_gateway, test_auth_server, test_config_server, test_daily_report, test_five_minute_report, test_mail_service, test_mode_report

fix artefacts in gitlab ci/cd
  .gitlab-ci.yml
Due: none

test ci/cd
  .gitlab-ci.yml
  .idea/workspace.xml
  api-gateway/test.sh
  auth-server/test.sh
  config-server/test.sh
  daily-report/test.sh
  five-minute-report/test.sh
  mail-service/test.sh
  mode-report/test.sh
Due: build_api_gateway, build_auth_server, build_config_server, build_daily_report, build_five_minute_report, build_mail_service, build_mode_report, test_api_gateway, test_auth_server, test_config_server, test_daily_report, test_five_minute_report, test_mail_service, test_mode_report

test ci/cd
  .gitlab-ci.yml
  api-gateway/test.sh
  auth-server/test.sh
  config-server/test.sh
  daily-report/test.sh
  five-minute-report/test.sh
  mail-service/test.sh
  mode-report/test.sh
Due: build_api_gateway, build_auth_server, build_config_server, build_daily_report, build_five_minute_report, build_mail_service, build_mode_report, test_api_gateway, test_auth_server, test_config_server, test_daily_report, test_five_minute_report, test_mail_service, test_mode_report

fix scripts error
  .idea/workspace.xml
  api-gateway/test.sh
  auth-server/test.sh
  config-server/test.sh
  daily-report/test.sh
  five-minute-report/test.sh
  mail-service/test.sh
  mode-report/test.sh
Due: build_api_gateway, build_auth_server, build_config_server, build_daily_report, build_five_minute_report, build_mail_service, build_mode_report, test_api_gateway, test_auth_server, test_config_server, test_daily_report, test_five_minute_report, test_mail_service, test_mode_report

unite build and test for gitlab ci/cd
  .gitlab-ci.yml
  .idea/workspace.xml
  api-gateway/build-test.sh
  api-gateway/build.sh
  api-gateway/test.sh
  auth-server/build-test.sh
  auth-server/build.sh
  auth-server/test.sh
  config-server/build-test.sh
  config-server/build.sh
  config-server/test.sh
  daily-report/build-test.sh
  daily-report/build.sh
  daily-report/test.sh
  five-minute-report/build-test.sh
  five-minute-report/build.sh
  five-minute-report/test.sh
  mail-service/build-test.sh
  mail-service/test.sh
  mode-report/build-test.sh
  mode-report/build.sh
  mode-report/test.sh
Due: build_api_gateway, build_auth_server, build_config_server, build_daily_report, build_five_minute_report, build_mail_service, build_mode_report, test_api_gateway, test_auth_server, test_config_server, test_daily_report, test_five_minute_report, test_mail_service, test_mode_report

fix ci/cd script
  api-gateway/build-test.sh
  auth-server/build-test.sh
  config-server/build-test.sh
  daily-report/build-test.sh
  five-minute-report/build-test.sh
  mail-service/build-test.sh
  mode-report/build-test.sh
Due: build_api_gateway, build_auth_server, build_config_server, build_daily_report, build_five_minute_report, build_mail_service, build_mode_report, test_api_gateway, test_auth_server, test_config_server, test_daily_report, test_five_minute_report, test_mail_service, test_mode_report

Revert "ci/cd test for all services"
  api-gateway/test.sh
  auth-server/test.sh
  config-server/test.sh
  daily-report/test.sh
  five-minute-report/test.sh
  mail-service/test.sh
  mode-report/test.sh
Due: build_api_gateway, build_auth_server, build_config_server, build_daily_report, build_five_minute_report, build_mail_service, build_mode_report, test_api_gateway, test_auth_server, test_config_server, test_daily_report, test_five_minute_report, test_mail_service, test_mode_report

reset commit
  .gitlab-ci.yml
  .idea/workspace.xml
Due: none

test ci/cd
  .idea/workspace.xml
  api-gateway/build-test.sh
  api-gateway/build.sh
  auth-server/build-test.sh
  auth-server/build.sh
  config-server/build-test.sh
  config-server/build.sh
  daily-report/build-test.sh
  daily-report/build.sh
  five-minute-report/build-test.sh
  five-minute-report/build.sh
  mail-service/build-test.sh
  mail-service/build.sh
  mode-report/build-test.sh
  mode-report/build.sh
Due: build_api_gateway, build_auth_server, build_config_server, build_daily_report, build_five_minute_report, build_mail_service, build_mode_report, test_api_gateway, test_auth_server, test_config_server, test_daily_report, test_five_minute_report, test_mail_service, test_mode_report

Edit build.sh
  mode-report/build.sh
Due: build_mode_report, test_mode_report

deploy test
  daily-report/test.sh
  five-minute-report/test.sh
  mode-report/test.sh
Due: build_daily_report, build_five_minute_report, build_mode_report, test_daily_report, test_five_minute_report, test_mode_report

test sast
  .gitlab-ci.yml
  .idea/workspace.xml
  mode-report/build.sh
Due: build_mode_report, test_mode_report

test sast
  .gitlab-ci.yml
  .idea/workspace.xml
Due: none

test sast
  daily-report/test.sh
  mail-service/test.sh
Due: build_daily_report, build_mail_service, test_daily_report, test_mail_service

test sast
  .gitlab-ci.yml
  daily-report/test.sh
Due: build_daily_report, test_daily_report

test sast
  .gitlab-ci.yml
  daily-report/test.sh
  five-minute-report/test.sh
Due: build_daily_report, build_five_minute_report, test_daily_report, test_five_minute_report

test sast
  .gitlab-ci.yml
  five-minute-report/test.sh
  mail-service/test.sh
Due: build_five_minute_report, build_mail_service, test_five_minute_report, test_mail_service

test sast
  .gitlab-ci.yml
  mail-service/test.sh
  mode-report/test.sh
Due: build_mail_service, build_mode_report, test_mail_service, test_mode_report

test sast
  .gitlab-ci.yml
  mode-report/test.sh
Due: build_mode_report, test_mode_report

final test sast
  .gitlab-ci.yml
  api-gateway/test.sh
  auth-server/test.sh
  config-server/test.sh
  daily-report/test.sh
  five-minute-report/test.sh
  mail-service/test.sh
  mode-report/test.sh
Due: build_api_gateway, build_auth_server, build_config_server, build_daily_report, build_five_minute_report, build_mail_service, build_mode_report, test_api_gateway, test_auth_server, test_config_server, test_daily_report, test_five_minute_report, test_mail_service, test_mode_report

test sast
  .gitlab-ci.yml
  api-gateway/test.sh
  auth-server/test.sh
  config-server/test.sh
  daily-report/test.sh
  five-minute-report/test.sh
  mail-service/test.sh
  mode-report/test.sh
Due: build_api_gateway, build_auth_server, build_config_server, build_daily_report, build_five_minute_report, build_mail_service, build_mode_report, test_api_gateway, test_auth_server, test_config_server, test_daily_report, test_five_minute_report, test_mail_service, test_mode_report

configure log journal
  api-gateway/src/main/resources/logback.xml
  auth-server/src/main/resources/logback.xml
  config-server/src/main/resources/logback.xml
  daily-report/src/main/resources/logback.xml
  five-minute-report/src/main/resources/logback.xml
  mail-service/src/main/resources/logback.xml
  mode-report/src/main/resources/logback.xml
Due: none
