Repository stage51/factory-monitoring: changes, and which GitLab CI jobs are due for each by the changed paths.
All: sast_api_gateway, sast_auth_server, sast_config_server, sast_daily_report, sast_five_minute_report, sast_mail_service, sast_mode_report, build_api_gateway, build_auth_server, build_config_server, build_daily_report, build_five_minute_report, build_mail_service, build_mode_report, test_api_gateway, test_auth_server, test_config_server, test_daily_report, test_five_minute_report, test_mail_service, test_mode_report

sast_api_gateway:
  tags:
  - factory-monitoring-api
  stage: sast
  artifacts:
    reports:
      sast: reports/sonarqube-report.xml
  before_script:
  - cd api-gateway
  script:
  ...

sast_auth_server:
  tags:
  - factory-monitoring-api
  stage: sast
  artifacts:
    reports:
      sast: reports/sonarqube-report.xml
  before_script:
  - cd auth-server
  script:
  ...

sast_config_server:
  tags:
  - factory-monitoring-api
  stage: sast
  artifacts:
    reports:
      sast: reports/sonarqube-report.xml
  before_script:
  - cd config-server
  script:
  ...

sast_daily_report:
  tags:
  - factory-monitoring-api
  stage: sast
  artifacts:
    reports:
      sast: reports/sonarqube-report.xml
  before_script:
  - cd daily-report
  script:
  ...

sast_five_minute_report:
  tags:
  - factory-monitoring-api
  stage: sast
  artifacts:
    reports:
      sast: reports/sonarqube-report.xml
  before_script:
  - cd five-minute-report
  script:
  ...

sast_mail_service:
  tags:
  - factory-monitoring-api
  stage: sast
  artifacts:
    reports:
      sast: reports/sonarqube-report.xml
  before_script:
  - cd mail-service
  script:
  ...

sast_mode_report:
  tags:
  - factory-monitoring-api
  stage: sast
  artifacts:
    reports:
      sast: reports/sonarqube-report.xml
  before_script:
  - cd mode-report
  script:
  ...

build_api_gateway:
  tags:
  - factory-monitoring-api
  stage: build
  script:
  - chmod +x build.sh
  - ./build.sh
  before_script:
  - cd api-gateway
  cache:
  - key: cache_api_gateway
    paths:
    - api-gateway/target
  artifacts:
    paths:
    - api-gateway/target/*
    expire_in: 1 day

build_auth_server:
  tags:
  - factory-monitoring-api
  stage: build
  script:
  - chmod +x build.sh
  - ./build.sh
  before_script:
  - cd auth-server
  cache:
  - key: cache_auth_server
    paths:
    - auth_server/target
  artifacts:
    paths:
    - auth-server/target/*
    expire_in: 1 day

build_config_server:
  tags:
  - factory-monitoring-api
  stage: build
  script:
  - chmod +x build.sh
  - ./build.sh
  before_script:
  - cd config-server
  cache:
  - key: cache_config_server
    paths:
    - config_server/target
  artifacts:
    paths:
    - config-server/target/*
    expire_in: 1 day

build_daily_report:
  tags:
  - factory-monitoring-api
  stage: build
  script:
  - chmod +x build.sh
  - ./build.sh
  before_script:
  - cd daily-report
  cache:
  - key: cache_daily_report
    paths:
    - daily_report/target
  artifacts:
    paths:
    - daily-report/target/*
    expire_in: 1 day

build_five_minute_report:
  tags:
  - factory-monitoring-api
  stage: build
  script:
  - chmod +x build.sh
  - ./build.sh
  before_script:
  - cd five-minute-report
  cache:
  - key: cache_five_minute_report
    paths:
    - five_minute_report/target
  artifacts:
    paths:
    - five-minute-report/target/*
    expire_in: 1 day

fix daily report status notification bug
  daily-report/src/main/java/centrikt/factory_monitoring/daily_report/services/impl/PositionServiceImpl.java
Due: sast_daily_report, build_daily_report, test_daily_report

fix tests
  daily-report/src/test/java/centrikt/factory_monitoring/daily_report/services/PositionServiceImplTest.java
  five-minute-report/src/test/java/centrikt/factory_monitoring/five_minute_report/services/PositionServiceImplTest.java
  mode-report/src/test/java/centrikt/factorymonitoring/modereport/services/PositionServiceImplTest.java
Due: sast_daily_report, sast_five_minute_report, sast_mode_report, build_daily_report, build_five_minute_report, build_mode_report, test_daily_report, test_five_minute_report, test_mode_report

add new parsing method for mode
  daily-report/src/main/java/centrikt/factory_monitoring/daily_report/enums/Mode.java
  daily-report/src/main/java/centrikt/factory_monitoring/daily_report/mappers/PositionMapper.java
  daily-report/src/main/java/centrikt/factory_monitoring/daily_report/utils/filter/FilterUtilImpl.java
  five-minute-report/src/main/java/centrikt/factory_monitoring/five_minute_report/enums/Mode.java
  five-minute-report/src/main/java/centrikt/factory_monitoring/five_minute_report/mappers/PositionMapper.java
  five-minute-report/src/main/java/centrikt/factory_monitoring/five_minute_report/utils/filter/FilterUtilImpl.java
  mode-report/src/main/java/centrikt/factorymonitoring/modereport/enums/Mode.java
  mode-report/src/main/java/centrikt/factorymonitoring/modereport/mappers/PositionMapper.java
  mode-report/src/main/java/centrikt/factorymonitoring/modereport/utils/filter/FilterUtilImpl.java
Due: sast_daily_report, sast_five_minute_report, sast_mode_report, build_daily_report, build_five_minute_report, build_mode_report, test_daily_report, test_five_minute_report, test_mode_report

remove bad constructions
  auth-server/src/main/java/centrikt/factorymonitoring/authserver/models/Online.java
  auth-server/src/main/java/centrikt/factorymonitoring/authserver/models/Organization.java
  auth-server/src/main/java/centrikt/factorymonitoring/authserver/models/Setting.java
  auth-server/src/main/java/centrikt/factorymonitoring/authserver/models/User.java
  auth-server/src/test/java/centrikt/factorymonitoring/authserver/services/HelpServiceImplTest.java
  daily-report/src/main/java/centrikt/factory_monitoring/daily_report/enums/Mode.java
  daily-report/src/main/java/centrikt/factory_monitoring/daily_report/models/Position.java
  daily-report/src/main/java/centrikt/factory_monitoring/daily_report/models/Product.java
  five-minute-report/src/main/java/centrikt/factory_monitoring/five_minute_report/enums/Mode.java
  five-minute-report/src/main/java/centrikt/factory_monitoring/five_minute_report/models/Position.java
  five-minute-report/src/main/java/centrikt/factory_monitoring/five_minute_report/models/Product.java
  mode-report/src/main/java/centrikt/factorymonitoring/modereport/enums/Mode.java
  mode-report/src/main/java/centrikt/factorymonitoring/modereport/models/Position.java
  mode-report/src/main/java/centrikt/factorymonitoring/modereport/models/Product.java
Due: sast_auth_server, sast_daily_report, sast_five_minute_report, sast_mode_report, build_auth_server, build_daily_report, build_five_minute_report, build_mode_report, test_auth_server, test_daily_report, test_five_minute_report, test_mode_report

add tests to sonar
  .gitlab-ci.yml
  api-gateway/test.sh
  auth-server/test.sh
  config-server/test.sh
  daily-report/test.sh
  five-minute-report/test.sh
  mail-service/test.sh
  mode-report/build.sh
Due: sast_api_gateway, sast_auth_server, sast_config_server, sast_daily_report, sast_five_minute_report, sast_mail_service, sast_mode_report, build_api_gateway, build_auth_server, build_config_server, build_daily_report, build_five_minute_report, build_mail_service, build_mode_report, test_api_gateway, test_auth_server, test_config_server, test_daily_report, test_five_minute_report, test_mail_service, test_mode_report

add tests to sonar
  .gitlab-ci.yml
  api-gateway/test.sh
  auth-server/test.sh
  config-server/test.sh
  daily-report/test.sh
  five-minute-report/test.sh
  mail-service/test.sh
  mode-report/test.sh
Due: sast_api_gateway, sast_auth_server, sast_config_server, sast_daily_report, sast_five_minute_report, sast_mail_service, sast_mode_report, build_api_gateway, build_auth_server, build_config_server, build_daily_report, build_five_minute_report, build_mail_service, build_mode_report, test_api_gateway, test_auth_server, test_config_server, test_daily_report, test_five_minute_report, test_mail_service, test_mode_report

edit recovery code size
  auth-server/src/main/java/centrikt/factorymonitoring/authserver/services/impl/AuthServiceImpl.java
Due: sast_auth_server, build_auth_server, test_auth_server

Path conditions:
  sast_api_gateway: any of: api-gateway/**/*
  sast_auth_server: any of: auth-server/**/*
  sast_config_server: any of: config-server/**/*
  sast_daily_report: any of: daily-report/**/*
  sast_five_minute_report: any of: five-minute-report/**/*
  sast_mail_service: any of: mail-service/**/*
  sast_mode_report: any of: mode-report/**/*
  build_api_gateway: any of: api-gateway/**/*
  build_auth_server: any of: auth-server/**/*
  build_config_server: any of: config-server/**/*
  build_daily_report: any of: daily-report/**/*
  build_five_minute_report: any of: five-minute-report/**/*
  build_mail_service: any of: mail-service/**/*
  build_mode_report: any of: mode-report/**/*
  test_api_gateway: any of: api-gateway/**/*
  test_auth_server: any of: auth-server/**/*
  test_config_server: any of: config-server/**/*
  test_daily_report: any of: daily-report/**/*
  test_five_minute_report: any of: five-minute-report/**/*
  test_mail_service: any of: mail-service/**/*
  test_mode_report: any of: mode-report/**/*
